

$primary-color: #1A425C;
$secondary-color: #80181B;
$highlight-color: #FF8900;
$font-color: white;
$container-color: black;

@import url('https://fonts.googleapis.com/css?family=Alegreya|Alice|Bad+Script|Cardo|Cormorant|EB+Garamond|Fondamento|Josefin+Slab|Merienda|Prata|Tangerine&display=swap');

@font-face {
    font-family: cinzel;
    src: url('../fonts/Cinzel-Regular.otf');
    font-style: normal;
}

@font-face {
    font-family: cinzel-bold;
    src: url('../fonts/Cinzel-Bold.otf');
    font-style: normal;
}

@font-face {
    font-family: cinzel-decor-bold;
    src: url('../fonts/CinzelDecorative-Bold.otf');
}

/*UNIVERSAL ELEMENTS:*/

html {
    min-height: 100%;
    box-sizing: border-box;
    color: $font-color
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: white;
    margin: 0;
    min-height: 100%;
    max-width: 100%;
    font-size: 1em;
    font-family: Fondamento;
}

body:after {
    content: "";
    position: fixed;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: url(../media/d60wuxp-ed66ba52-919b-4b25-a527-3561d37cb940.jpg) center center;
    background-size: cover;
}

header {

    height: 15%;
    background-color: #272727;
    padding-top: .001em;
}

.logo {

        float: left;
        width: 5%;
        padding-top: 0.8%;
        margin-left: 10%; 

}

h1 {
    font-family: cinzel;
    font-size: 1.3em;
    color: white;
    margin-right: 20%;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 3%;
    margin-bottom: 3%;
}

.h1-initial {
    font-size: 2em;
}

h3, h5 {

    color: $highlight-color;
    text-align: center;
    font-family: cinzel-decor-bold;
    margin: auto;

}

h3 {
    border-top: 2px solid $highlight-color; 
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 5%;
    width: 80%;
}

h5 {
    margin-top: 2%;
}

.controller-box {
    float: left;
    display: block;
    width: 15%;
    background-color: $container-color;
    height: 100%;
    border-right: 2px solid $highlight-color;
    border-top: 2px solid $highlight-color;
    margin-right: 1%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav a {
    font-family: cinzel-bold;
    text-align: center;
    color: $font-color;
    display: block;
    list-style: none;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: $primary-color;
    padding: 16px;
    border-radius: 25px;
}
    
.active {
    background-color: $secondary-color;
    text-decoration: underline;
}


p {
    width: 90%;
    margin: auto;
}

.selections {
    margin-top: 2%;
}

#selected-char1, #selected-char2 {
    width: 98%;
    margin: auto;
    padding: 2%;
    text-align: center;
    color: $primary-color;
    font-family: cinzel-decor-bold;
}

#selected-char2 {
    color: $secondary-color
}

/*CHARACTER SELECTION*/

#characters {
    width: 90%;
    margin: auto;
}

.playercards {
    float: left;
    width: 180px;
    margin: 1%;
    margin-right: auto;
    background-color: $container-color;
    height: 300px;
    border: 2px solid $highlight-color;
    border-radius: 16px;
}

.playercards img {
    height: 220px;
    width: 160px;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 16px;
}


.character-button {
    font-size: 60%;
    display: block;
    color: white;
    background-color: $highlight-color;
    text-align: center;
    width: 165px;
    margin: auto;
    margin-top: 8%;
    padding: 15 0 15 0px;
    border: 0;
    border-radius: 10px;
}

.character-button:hover {
    color: $highlight-color;
    background-color: white;
}

.clicked {
    @extend .character-button; 
    background-color: $secondary-color;
}

/*BOARD GAME*/

#trap-alert, #roll-alert {

    font-size: 0.9em;
    padding: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 98%;
    margin: auto;
    
}

.score-span {

    color: $highlight-color;

}

#trap-alert {

    font-size: 1em;
    color: red;
    margin-top: 0%;

}

#dice {
    margin: auto;
    margin-top: 3%;
    display: block;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 13px;
}

#board {
    display: grid;
    margin-left: 5%;
    margin-top: -5%;
    grid-template-columns: repeat(8,8.5vw);
    grid-template-rows: repeat(10,10.8vh);
    width: 50%;
}

.tile {
    background: lightgray;
    position: relative;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

    &--trap {
        height: 95%;
        z-index: 0;
    }

    &--trap__bridge {
        height: 95%;
        width: 100;
        z-index: 0;
    }
}


.marble {
    background: url(../media/marble-8.png) center center;
    background-size: cover; 
}

.darkmarble {
    background: url(../media/dark-marble-8.png) center center;
    background-size: cover; 
}

.nightking {
    background: black;
}

.token {
    font-family: sans-serif;
    position: absolute;
    display: block;
    padding: 16%;
    text-align: center;
    border: 2px solid white;
    border-radius: 100%;
    width: 50%;
    margin: 1%;
    float: left;
    color: white;
    

}

#token1 {
    top: 0;
    left: 0;
    background: $primary-color;
}

#token2 {
    bottom: 0;
    right: 0;
    background: $secondary-color;
}

.tile:nth-child(1) {
grid-row: 2;
grid-column: 1;
}

.tile:nth-child(2) {
grid-row: 2;
grid-column: 2;   
}

.tile:nth-child(3) {
grid-row: 2;
grid-column: 3;   
}

.tile:nth-child(4) {
grid-row: 2;
grid-column: 4;   
}

.tile:nth-child(5) {
grid-row: 2;
grid-column: 5;   
}

.tile:nth-child(6) {
grid-row: 2;
grid-column: 6;
}

.tile:nth-child(7) {
grid-row: 2;
grid-column: 7;  
}

.tile:nth-child(8) {
grid-row: 2;
grid-column: 8;  
}

.tile:nth-child(9) {
grid-row: 3;
grid-column: 8;  
}

.tile:nth-child(10) {
grid-row: 4;
grid-column: 8;  
}

.tile:nth-child(11) {
grid-row: 5;
grid-column: 8;
}

.tile:nth-child(12) {
grid-row: 6;
grid-column: 8;    
}

.tile:nth-child(13) {
grid-row: 7;
grid-column: 8;    
}

.tile:nth-child(14) {
grid-row: 8;
grid-column: 8;    
}

.tile:nth-child(15) {
grid-row: 9;
grid-column: 8;
}

.tile:nth-child(16) {
grid-row: 10;
grid-column: 8;    
}

.tile:nth-child(17) {
grid-row: 10;
grid-column: 7;    
}

.tile:nth-child(18) {
grid-row: 10;
grid-column: 6;    
}

.tile:nth-child(19) {
grid-row: 10;
grid-column: 5;
}

.tile:nth-child(20) {
grid-row: 10;
grid-column: 4;    
}

.tile:nth-child(21) {
grid-row: 10;
grid-column: 3;
}

.tile:nth-child(22) {
grid-row: 10;
grid-column: 2;    
}

.tile:nth-child(23) {
grid-row: 10;
grid-column: 1;    
}

.tile:nth-child(24) {
grid-row: 9;
grid-column: 1;    
}

.tile:nth-child(25) {
grid-row: 8;
grid-column: 1;
}

.tile:nth-child(26) {
grid-row: 7;
grid-column: 1;    
}

.tile:nth-child(27) {
grid-row: 6;
grid-column: 1;    
}

.tile:nth-child(28) {
grid-row: 5;
grid-column: 1;    
}

.tile:nth-child(29) {
grid-row: 4;
grid-column: 1;    
}

.tile:nth-child(30) {
grid-row: 3;
grid-column: 1;    
}

/*VICTORY PAGE*/

.winner-div {

    width: 190px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;

}

#winner-image {

    display: inline-block;
    width: 180px;
    border: 2px solid $highlight-color;
    border-radius: 50%;

}

.winner-name {

    width: 100%;
    text-align: center;
    font-family: cinzel-bold;
    font-size: 2em;
    color: $highlight-color;
    margin-top: 5%;
    text-shadow: 2px 2px 6px #000;

}

/*MEDIA QUERIES*/

@media only screen and (max-width: 1300px) {

    .logo {

        padding-top: 0.5%;
        width: 7%;

    }

    #characters {
        width: 90%;
        margin: auto;
    }

    .selections {
        margin-bottom: 2%;
    }

    #selected-char1, #selected-char2 {

        padding: 0.5%;
    }

    .playercards {
        margin: 2%;
    }

    .character-selection-page .controller-box {
        float: none;
        width: 100%;
        height: auto;
        margin: 0%;
        padding: 1%;
        border-bottom: 2px solid $highlight-color;
    }

    .character-selection-page p {
        text-align: center;
    }

    .character-selection-page h3 {
        margin-top: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-bottom: 0%;
    }

    .character-selection-page nav a {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
        margin-top: 2%;
    }
}

@media only screen and (max-width: 1000px) {

    .logo {

        width: 9%;

    }

    .victory-page .controller-box {
        float: none;
        width: 100%;
        height: auto;
        margin: 0%;
        padding: 1%;
        border-bottom: 2px solid $highlight-color;
    }

    .victory-page p {
        text-align: center;
    }

    .victory-page h3 {
        margin-top: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-bottom: 0%;
    }

    .victory-page nav a {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
        margin-top: 2%;
    }

}

@media only screen and (max-width: 700px) {

    
    .logo {

        width: 13%;
        margin-left: 2.5%;
        padding-top: 6px;

    }

    nav a {
        font-size: 0.7em;
    }

    .playercards {
        margin: 5%;
    }

}

@media only screen and (max-width: 580px) {
    
    .logo {

        width: 18%;

    }

    header {
        
        height: 18%;

    }

    nav a {
    
        width: 35% !important;
    }

    .playercards {
        margin-left: 25%;
    }

}